.custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-radio input {
    opacity: 0;
    position: absolute;
}

.custom-radio label {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid #00ff00; / Ярко Зеленая обводка /
border-radius: 50%;
    display: inline-block;
    position: relative;
}

.custom-radio label::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #00ff00; / Зеленый цвет метки /
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; / Начально скрываем метку /
}

.custom-radio input:checked + label::before {
    opacity: 1; / Показываем метку при выборе /
}

.custom-radio span {
    margin-left: 10px;
}