.house {
    position: relative;
    width: 200px;
    height: 200px;
}

.roof {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 60px solid green;
}

.walls {
    position: absolute;
    top: 60px;
    width: 200px;
    height: 140px;
    background-color: violet;
}

.window {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 140px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
}

.pane {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid #000;
}

.pane:nth-child(1) {
    top: 0;
    left: 0;
}

.pane:nth-child(2) {
    top: 0;
    left: 50%;
}

.pane:nth-child(3) {
    top: 50%;
    left: 0;
}

.pane:nth-child(4) {
    top: 50%;
    left: 50%;
}

.chimney {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 20px;
    height: 40px;
    background-color: #888;
}

.grass {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 15px;
    background-color: green;
}
