.house {
    position: relative;
    width: 150px;
    height: 150px;
}



body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roof {
    position: absolute;
    top: -70px;
    right: -250px; /* Изменено на отрицательное значение, чтобы верхний угол был левее */
    border-left: 150px solid transparent; /* Левый бордер - треугольник */
    border-right: 300px solid transparent; /* Правый бордер - треугольник */
    border-bottom: 120px solid #6495ED; /* Нижний бордер - основание крыши */
}

.walls {
    position: absolute;
    top: 45px;
    width: 300px;
    height: 300px;
    background-color: 	#CD6090;
    z-index: -1;
}

.window {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 100px; /* уменьшен размер окна */
    height: 100px; /* уменьшен размер окна */
    background-color: #F5F5DC; /* бежевый цвет окна */

}

.pane {
    position: absolute;
    width: 43%;
    height: 43%;
    border: 4px solid #000;
}

.pane:nth-child(1) {
    top: 0;
    left: 0;
}

.pane:nth-child(2) {
    top: 0;
    left: 50%;
}

.pane:nth-child(3) {
    top: 50%;
    left: 0;
}

.pane:nth-child(4) {
    top: 50%;
    left: 50%;
}

.door {
    position: absolute;
    top: 100px;
    right: 0;
    width: 80px;
    height: 200px;
    background-color: #8B3A62;

}

.handle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    right: 7px ;
    top: 50%;
    transform: translateY(-50%);


}

.chimney {
    position: absolute;
    top: -50px;
    left: 232px;
    width: 23px;
    height: 70px;
    background-color: 	#CD6090;
    z-index: -1;
}

.grass {
    position: absolute ;
    top: 222px; /* Выступает сверху */
    left: -61px; /* Выступает слева */
    right: -230px; /* Выступает справа */
    bottom: -222px; /* Выступает снизу */
    background-color: green;
    z-index: -3;


}