 .house {
     position: relative;
     width: 15vw;
     height: 15vw;
 }

.roof {
    position: absolute;
    top: 0.1vw;
    right: -4vw; /* Изменено на отрицательное значение, чтобы верхний угол был левее */
    height: 0;
    border-left: 8vw solid transparent; /* Левый бордер - треугольник */
    border-right: 12vw solid transparent; /* Правый бордер - треугольник */
    border-bottom: 4.5vw solid #6495ED; /* Нижний бордер - основание крыши */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.walls {
    position: absolute;
    top: 4.5vw;
    width: 15vw;
    height: 10.5vw;
    background-color: 	#CD6090;
}

.window {
    position: absolute;
    top: 2vw;
    left: 1vw;
    width: 4vw; /* уменьшен размер окна */
    height: 4vw; /* уменьшен размер окна */
    background-color: #F5F5DC; /* бежевый цвет окна */

}

.pane {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 0.3vw solid #000;
}

.pane:nth-child(1) {
    top: 0;
    left: 0;
}

.pane:nth-child(2) {
    top: 0;
    left: 50%;
}

.pane:nth-child(3) {
    top: 50%;
    left: 0;
}

.pane:nth-child(4) {
    top: 50%;
    left: 50%;
}

.door {
    position: absolute;
    top: 3.5vw;
    right: 0;
    width: 4vw;
    height: 7vw;
    background-color: #8B3A62;

}

.handle {
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    background-color: black;
    border-radius: 50%;
    right: 0.7vw;
    top: 50%;
    transform: translateY(-50%);


}

.chimney {
    position: absolute;
    top: 0.5vw;
    left: 12vw;
    width: 2vw;
    height: 2.67vw;
    background-color: 	#CD6090;
    z-index: -1;
}

.grass {
    position: absolute;
    top: 200px; /* Выступает сверху */
    left: -100px; /* Выступает слева */
    right: -100px; /* Выступает справа */
    bottom: -25px; /* Выступает снизу */
    background-color: green;
    z-index: -1;
}