.wrapper_buttons {
    position: relative;
    margin-left: 130px;
}

.button_default {
    width: 180px;
    height: 49px;
    border: 5px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(155,155,155,0.5);
}

.button_position {
    margin-right: 15px;
}

.button_background--primary {
    background-color: #5faffa;
}

.button_background--secondary {
    background-color: #F89052;
}

.button_background--success {
    background-color: #60CF57;
}

.button_background--danger {
    background-color: #F05B5B;
}

.button_background--warning {
    background-color: #FFCF31;
}

.button_background--info {
    background-color: #0FBDB4;
}

.button_background--primary-active {
    background-color: #3B6FC2;
}

.button_background--secondary-active {
    background-color: #DC7F47
}

.button_background--success-active {
    background-color: #4ABA42;
}

.button_background--danger-active {
    background-color: #BF4141;
}

.button_background--warning-active {
    background-color: #EEBD1C;
}

.button_background--info-active {
    background-color: #0CA099;
}

.button_background--primary-hover {
    background-color: #447FDE;
}

.button_background--secondary-hover {
    background-color: #DC7F47;
}

.button_background--success-hover {
    background-color: #4ABA42;
}

.button_background--danger-hover {
    background-color: #BF4141;
}

.button_background--warning-hover {
    background-color: #EEBD1C;
}

.button_background--info-hover {
    background-color: #0CA099;
}






.custom-default {
    color: gray;
}

.custom-default {
    height: 88px;
    width: 1180px;
}

.custom-button13 {
    position: absolute;
    left: 130px;
    top: 473px;
    width: 180px;
    height: 49px;
    border-radius: 5px; /* Закругление углов */
    background-color: #3B6FC2; /* Цвет фона */
    border: 5px;
    color: white;
}

.custom-button14 {
    position: absolute;
    left: 330px;
    top: 473px;
    width: 180px;
    height: 49px;
    border-radius: 5px; /* Закругление углов */
    background-color: #BD6937; /* Цвет фона */
    border: 5px;
    color: white;
}

.custom-button15 {
    position: absolute;
    left: 530px;
    top: 473px;
    width: 180px;
    height: 49px;
    border-radius: 5px; /* Закругление углов */
    background-color: #3DA235; /* Цвет фона */
    border: 5px;
    color: white;
}

.custom-button16 {
    position: absolute;
    left: 730px;
    top: 473px;
    width: 180px;
    height: 49px;
    border-radius: 5px; /* Закругление углов */
    background-color: #AC2D2D; /* Цвет фона */
    border: 5px;
    color: white;
}

.custom-button17 {
    position: absolute;
    left: 930px;
    top: 473px;
    width: 180px;
    height: 49px;
    border-radius: 5px; /* Закругление углов */
    background-color: #D6A917; /* Цвет фона */
    border: 5px;
    color: white;
}

.custom-button18 {
    position: absolute;
    left: 1130px;
    top: 473px;
    width: 180px;
    height: 49px;
    border-radius: 5px; /* Закругление углов */
    background-color: #0A8A83; /* Цвет фона */
    border: 5px;
    color: white;
}

.tab_position {
    position: absolute;
    left: 130px;
    top: 622px;
    width: 63px;
    height: 29px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-weight: bold; /* Устанавливаем полужирное начертание */
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D; /* Цвет текста */
}

.custom-tabs1-line1 {
    position: absolute;
    left: 131px;
    top: 737.5px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #52BE80; /* Зеленая линия */
}

.custom-tabs1-line2 {
    position: absolute;
    left: 247.5px;
    top: 738px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #D8D8D8; /* Серая линия */
}

.custom-tabs1-line3 {
    position: absolute;
    left: 363px;
    top: 738px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #D8D8D8; /* Серая линия */
}

.custom-tabs1-line4 {
    position: absolute;
    left: 478px;
    top: 738px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #D8D8D8; /* Серая линия */
}

.custom-tabs1-text1 {
    position: absolute;
    left: 500px;
    top: 701px;
    width: 72px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs1-text2 {
    position: absolute;
    left: 398px;
    top: 701px;
    width: 46px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs1-text3 {
    position: absolute;
    left: 282px;
    top: 701px;
    width: 47px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs1-text4 {
    position: absolute;
    left: 168px;
    top: 701px;
    width: 41px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D; /* Темно-серый цвет текста */
}


.custom-tabs1-Rectangle1 {
    position: absolute;
    left: 130px;
    top: 799px;
    width: 91px;
    height: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #52BE80;
}

.custom-tabs1-Rectangle2 {
    position: absolute;
    left: 221px;
    top: 799px;
    width: 97px;
    height: 44px;
    border: 1px solid #D8D8D8;
}

.custom-tabs1-Rectangle3 {
    position: absolute;
    left: 317px;
    top: 799px;
    width: 96px;
    height: 44px;
    border: 1px solid #D8D8D8;
}

.custom-tabs1-Rectangle4 {
    position: absolute;
    left: 412px;
    top: 799px;
    width: 122px;
    height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #D8D8D8;
}

.custom-tabs1-Rectangle1-text1 {
    position: absolute;
    left: 155px;
    top: 809px;
    width: 41px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF; /* Белый цвет текста */
}

.custom-tabs1-Rectangle2-text1 {
    position: absolute;
    left: 246px;
    top: 809px;
    width: 47px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs1-Rectangle3-text1 {
    position: absolute;
    left: 342px;
    top: 809px;
    width: 46px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs1-Rectangle4-text1 {
    position: absolute;
    left: 437px;
    top: 809px;
    width: 72px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs2-line1 {
    position: absolute;
    left: 713px;
    top: 737.5px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #E74C3C; /* Красная линия */
}

.custom-tabs2-line2 {
    position: absolute;
    left: 829.5px;
    top: 738px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #D8D8D8; /* Серая линия */
}

.custom-tabs2-line3 {
    position: absolute;
    left: 945px;
    top: 738px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #D8D8D8; /* Серая линия */
}

.custom-tabs2-line4 {
    position: absolute;
    left: 1060px;
    top: 738px;
    width: 115px;
    height: 1px;
    border-bottom: 1px solid #D8D8D8; /* Серая линия */
}

.custom-tabs2-text1 {
    position: absolute;
    left: 1082px;
    top: 701px;
    width: 72px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs2-text2 {
    position: absolute;
    left: 980px;
    top: 701px;
    width: 46px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D; /* Темно-серый цвет текста */
}

.custom-tabs2-text3 {
    position: absolute;
    left: 864px;
    top: 701px;
    width: 47px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8; /* Серый цвет текста */
}

.custom-tabs2-text4 {
    position: absolute;
    left: 750px;
    top: 701px;
    width: 41px;
    height: 24px;
    font-family: "Roboto", sans-serif; /* Устанавливаем шрифт Roboto */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D; /* Темно-серый цвет текста */
}

.rectangle1-tabs2 {
    position: absolute;
    left: 1009px;
    top: 720px;
    width: 17px;
    height: 22px;
    background-color: #5D5D5D; /* Цвет фона */
}

.custom-tabs2-Rectangle1 {
    position: absolute;
    left: 713px;
    top: 799px;
    width: 91px;
    height: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #E74C3C;
}

.custom-tabs2-Rectangle2 {
    position: absolute;
    left: 804px;
    top: 799px;
    width: 97px;
    height: 44px;
    border: 1px solid #D8D8D8;
}

.custom-tabs2-Rectangle3 {
    position: absolute;
    left: 900px;
    top: 799px;
    width: 96px;
    height: 44px;
    border: 1px solid #D8D8D8;
}

.custom-tabs2-Rectangle4 {
    position: absolute;
    left: 995px;
    top: 799px;
    width: 122px;
    height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #D8D8D8;
}

.custom-tabs2-Rectangle1-text1 {
    position: absolute;
    left: 738px;
    top: 809px;
    width: 41px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;
}

.custom-tabs2-Rectangle2-text1 {
    position: absolute;
    left: 829px;
    top: 809px;
    width: 47px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8;
}

.custom-tabs2-Rectangle3-text1 {
    position: absolute;
    left: 925px;
    top: 809px;
    width: 46px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.custom-tabs2-Rectangle4-text1 {
    position: absolute;
    left: 1020px;
    top: 809px;
    width: 72px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #ACA8A8;
}

.rectangle2-tabs2 {
    position: absolute;
    left: 978px;
    top: 838px;
    width: 17px;
    height: 22px;
    background-color: #5D5D5D;
}

.checkbox-position {
    position: absolute;
    left: 130px;
    top: 960px;
    width: 165px;
    height: 29px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    font-weight: bold;
    color: #5D5D5D;
}

.square-normal1,
.square-normal2,
.square-normal3,
.square-normal4,
.square-normal5,
.square-normal6,
.square-normal7,
.square-normal8,
.square-normal9,
.square-normal10 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #AEAEAE;
}

.square-normal1 {
    left: 210px;
    top: 1039px;
    background-color: #F2F2F2;
}

.square-normal2 {
    left: 290px;
    top: 1039px;
    background-color: #F2F2F2;
}

.square-normal3 {
    left: 368px;
    top: 1039px;
    background-color: #F2F2F2;
}

.square-normal4 {
    left: 448px;
    top: 1039px;
    background-color: #F2F2F2;
}

.square-normal5 {
    left: 130px;
    top: 1119px;
    background-color: #F9F9F9;
}

.square-normal6 {
    left: 210px;
    top: 1119px;
    background-color: #F9F9F9;
}

.square-normal7 {
    left: 290px;
    top: 1119px;
    background-color: #F9F9F9;
}

.square-normal8 {
    left: 370px;
    top: 1119px;
    background-color: #F9F9F9;
}

.square-normal9 {
    left: 130px;
    top: 1039px;
    background-color: #F2F2F2;
}

.square-normal10 {
    left: 450px;
    top: 1119px;
    background-color: #F2F2F2;
}

.square-checked1,
.square-checked2,
.square-checked3,
.square-checked4,
.square-checked5,
.square-checked6,
.square-checked7,
.square-checked8,
.square-checked9,
.square-checked10 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 5px; /* Радиус скругления углов */
}

.square-checked1 {
    left: 130px;
    top: 1199px;
    background-color: #52BE80; /* Цвет заливки */
}

.square-checked2 {
    left: 210px;
    top: 1199px;
    background-color: #F89052; /* Цвет заливки */
}

.square-checked3 {
    left: 290px;
    top: 1199px;
    background-color: #4E92FF; /* Цвет заливки */
}

.square-checked4 {
    left: 370px;
    top: 1199px;
    background-color: #F05B5B; /* Цвет заливки */
}

.square-checked5 {
    left: 450px;
    top: 1199px;
    background-color: #3C3B3B; /* Цвет заливки */
}

.square-checked6 {
    left: 130px;
    top: 1256px;
    background-color: rgba(82, 190, 128, 0.59); /* Цвет заливки */
}

.square-checked7 {
    left: 210px;
    top: 1256px;
    background-color: rgba(246, 167, 120, 0.59); /* Цвет заливки */
}

.square-checked8 {
    left: 290px;
    top: 1256px;
    background-color: rgba(78, 146, 255, 0.59); /* Цвет заливки */
}

.square-checked9 {
    left: 370px;
    top: 1256px;
    background-color: rgba(240, 91, 91, 0.59); /* Цвет заливки */
}

.square-checked10 {
    left: 450px;
    top: 1256px;
    background-color: rgba(60, 59, 59, 0.59); /* Цвет заливки */
}

.rectangle-checkboxes-path1,
.rectangle-checkboxes-path2,
.rectangle-checkboxes-path3,
.rectangle-checkboxes-path4,
.rectangle-checkboxes-path5,
.rectangle-checkboxes-path6,
.rectangle-checkboxes-path7,
.rectangle-checkboxes-path8,
.rectangle-checkboxes-path9,
.rectangle-checkboxes-path10 {
    position: absolute;
    width: 19px;
    height: 14px;
}

.rectangle-checkboxes-path1 {
    left: 456px;
    top: 1264px;
    background-color: rgba(255, 255, 255, 0.59);
}

.rectangle-checkboxes-path2 {
    left: 376px;
    top: 1264px;
    background-color: rgba(255, 255, 255, 0.59);
}

.rectangle-checkboxes-path3 {
    left: 296px;
    top: 1264px;
    background-color: rgba(255, 255, 255, 0.59);
}

.rectangle-checkboxes-path4 {
    left: 216px;
    top: 1264px;
    background-color: rgba(255, 255, 255, 0.59);
}

.rectangle-checkboxes-path5 {
    left: 136px;
    top: 1264px;
    background-color: rgba(255, 255, 255, 0.59);
}

.rectangle-checkboxes-path6 {
    left: 456px;
    top: 1207px;
    background-color: #FFFFFF;
}

.rectangle-checkboxes-path7 {
    left: 376px;
    top: 1207px;
    background-color: #FFFFFF;
}

.rectangle-checkboxes-path8 {
    left: 296px;
    top: 1207px;
    background-color: #FFFFFF;
}

.rectangle-checkboxes-path9 {
    left: 216px;
    top: 1207px;
    background-color: #FFFFFF;
}

.rectangle-checkboxes-path10 {
    left: 136px;
    top: 1207px;
    background-color: #FFFFFF;
}

.pagination-position {
    position: absolute;
    left: 130px;
    top: 1386px;
    width: 162px;
    height: 29px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.disabled-position {
    position: absolute;
    left: 108px;
    top: 1465px;
    width: 78px;
    height: 24px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #989494;
}

.active-position {
    position: absolute;
    left: 207px;
    top: 1465px;
    width: 57px;
    height: 24px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #989494;
}

.hover-position {
    position: absolute;
    left: 409px;
    top: 1465px;
    width: 53px;
    height: 24px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #989494;
}

.square-paginations1,
.square-paginations2,
.square-paginations3,
.square-paginations4,
.square-paginations5,
.square-paginations6,
.square-paginations7,
.square-paginations8,
.square-paginations9,
.square-paginations10 {
    position: absolute;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.square-paginations1 {
    left: 129px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square-paginations2 {
    left: 199px;
    top: 1519px;
    background-color: #52BE80;
}

.square-paginations3{
    left: 269px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square-paginations4 {
    left: 339px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square-paginations5 {
    left: 409px;
    top: 1519px;
    background-color: #E0E0E0;
}

.square-paginations6 {
    left: 479px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square-paginations7 {
    left: 549px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square-paginations8 {
    left: 619px;
    top: 1519px;
}

.square-paginations9 {
    left: 689px;
    top: 1519px;
}

.square-paginations10 {
    left: 759px;
    top: 1519px;
}

.square-paginations-text1 {
    position: absolute;
    left: 216px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;
}

.square-paginations-text2 {
    position: absolute;
    left: 287px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square-paginations-text3 {
    position: absolute;
    left: 357px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square-paginations-text4 {
    position: absolute;
    left: 427px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square-paginations-text5 {
    position: absolute;
    left: 497px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square2-pagination1,
.square2-pagination2,
.square2-pagination3,
.square2-pagination4,
.square2-pagination5,
.square2-pagination6,
.square2-pagination7 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


.square2-pagination1 {
    left: 769px;
    top: 1519px;
    background-color: #F89052;
}

.square2-pagination2 {
    left: 839px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square2-pagination3 {
    left: 909px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square2-pagination4 {
    left: 979px;
    top: 1519px;
    background-color: #E0E0E0;
}

.square2-pagination5 {
    left: 1049px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square2-pagination6 {
    left: 1119px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square2-pagination7 {
    left: 699px;
    top: 1519px;
    background-color: #F6F6F6;
}

.square2-pagination1-text1 {
    position: absolute;
    left: 786px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;
}

.square2-pagination1-text2 {
    position: absolute;
    left: 857px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square2-pagination1-text3 {
    position: absolute;
    left: 927px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square2-pagination1-text4 {
    position: absolute;
    left: 997px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square2-pagination1-text5 {
    position: absolute;
    left: 1067px;
    top: 1530px;
    width: 15px;
    height: 29px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.square1 {
    position: absolute;
    left: 199px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #4E92FF;
}

.square2 {
    position: absolute;
    left: 269px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.square3 {
    position: absolute;
    left: 339px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.square4 {
    position: absolute;
    left: 409px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #E0E0E0;
}

.square5 {
    position: absolute;
    left: 479px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.square6 {
    position: absolute;
    left: 129px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.square7 {
    position: absolute;
    left: 549px;
    top: 1669px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #F6F6F6;
}

.squarer {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.square8 {
    left: 699px;
    top: 1669px;
    background-color: #F6F6F6;
}

.square9 {
    left: 769px;
    top: 1669px;
    background-color: #F05B5B;
}

.square10 {
    left: 839px;
    top: 1669px;
    background-color: #F6F6F6;
}

.square11 {
    left: 909px;
    top: 1669px;
    background-color: #F6F6F6;
}

.square12 {
    left: 979px;
    top: 1669px;
    background-color: #E0E0E0;
}

.square13 {
    left: 1049px;
    top: 1669px;
    background-color: #F6F6F6;
}

.square14 {
    left: 1119px;
    top: 1669px;
    background-color: #F6F6F6;
}

.squarer1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.square15 {
    left: 129px;
    top: 1819px;
    background-color: #F6F6F6;
}

.square16 {
    left: 199px;
    top: 1819px;
    background-color: #3C3B3B;
}

.square17 {
    left: 269px;
    top: 1819px;
    background-color: #F6F6F6;
}

.square18 {
    left: 339px;
    top: 1819px;
    background-color: #F6F6F6;
}

.square19 {
    left: 409px;
    top: 1819px;
    background-color: #E0E0E0;
}

.square20 {
    left: 479px;
    top: 1819px;
    background-color: #F6F6F6;
}

.square21 {
    left: 549px;
    top: 1819px;
    background-color: #F6F6F6;
}

.fonts-position {
    position: absolute;
    left: 130px;
    top: 1987px;
    width: 79px;
    height: 29px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
}

.text12 {
    position: absolute;
    left: 130px;
    top: 2066px;
    width: 504px;
    height: 54px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 46px;
    line-height: 54px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
    white-space: nowrap;
}

.text13 {
    position: absolute;
    left: 130px;
    top: 2150px;
    width: 390px;
    height: 42px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
    white-space: nowrap;
}

.header_h3 {
    height: 35px;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
    white-space: nowrap;
}

.header_h3-position {
    position: absolute;
    left: 130px;
    top: 2222px;
    width: 329px;
}

.header_h4 {

    font-family: 'Roboto Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
    white-space: nowrap;
}

.header_h4-position {
    position: absolute;
    left: 130px;
    top: 2287px;
    width: 217px;
    height: 24px;
}

.text16 {
    position: absolute;
    left: 130px;
    top: 2341px;
    width: 195px;
    height: 21px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: normal;
    text-align: left;
    color: #5D5D5D;
    white-space: nowrap;
}

.text {
    position: absolute;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: normal;
    text-align: left;
    height: 29px;
}

.text17 {
    left: 216px;
    top: 1830px;
    color: #FFFFFF;
}

.text18 {
    left: 287px;
    top: 1830px;
    color: #5D5D5D;
}

.text19 {
    left: 357px;
    top: 1830px;
    color: #5D5D5D;
}

.text20 {
    left: 427px;
    top: 1830px;
    color: #5D5D5D;
}

.text21 {
    left: 497px;
    top: 1830px;
    color: #5D5D5D;
}

.text22 {
    left: 786px;
    top: 1680px;
    color: #FFFFFF;
}

.text23 {
    left: 857px;
    top: 1680px;
    color: #5D5D5D;
}

.text24 {
    left: 927px;
    top: 1680px;
    color: #5D5D5D;
}

.text25 {
    left: 997px;
    top: 1680px;
    color: #5D5D5D;
}

.text26 {
    left: 1067px;
    top: 1680px;
    color: #5D5D5D;
}

.text27 {
    left: 216px;
    top: 1680px;
    color: #FFFFFF;
}

.text28 {
    left: 287px;
    top: 1680px;
    color: #5D5D5D;
}

.text29 {
    left: 357px;
    top: 1680px;
    color: #5D5D5D;
}

.text30 {
    left: 427px;
    top: 1680px;
    color: #5D5D5D;
}

.text31 {
    left: 497px;
    top: 1680px;
    color: #5D5D5D;
}